@media(max-width:758px){
    .hidesm{
        display:none;
    }
}

.orbitviewer{
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:95%;
}
@media(max-width:991px){
    .orbitviewer{
        width:100%;
        height:70vh;
        position:relative;
    }
}

.sections{
    font-family: ibmmono;
    padding-bottom:1rem;
    padding-top:1rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
    margin-bottom:5rem;
    color:white;
}
.definations > p{
    margin-bottom: 3rem;
}