.orbitDP{
    overflow-x: hidden;
    font-size:0.8rem;
    border-collapse: collapse;
    color:white;
    font-family: ibmmono;
    border:2px solid white;
    width:100%;
    
}
.orbitDP > tr > td, .orbitDP > tr > th{
   
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.orbitDP, .orbitDP > th, .orbitDP > td {
    border: 2px solid white;
  }

.orbitDP > tr{
    text-align: center;
    border-bottom: 2px solid grey;
}
.orbitDP > tr >  th{
    background-color: white;
    color:black;
}









.sentrytable{
    overflow-x: hidden;
    
    padding:1rem;
    font-size:0.8rem;
    border-collapse: collapse;
    color:white;
    font-family: ibmmono;
    width:100%;
    text-align:center;
}
.bgwhite {
    color:black;
    background-color: white;
}

.sentrytable, .sentrytable > th, .sentrytable > td {
    border: 2px solid white;
  }

.borderbottom{
    border-bottom:2px solid white;
}
.sentrytable td{
    padding:0.4rem;
}
.hoverboldunderline{
    color:white;
    text-decoration: underline;
}
.hoverboldunderline:hover{
    color:rgb(81, 6, 255);
    font-weight: bolder;
}
.sortbutton{
    color:inherit;
}
.sortbutton:hover{
    color:rgb(81, 6, 255);
}

@media (max-width:800px){
    .hidesm{
        display:none;
    }
    
}

.ibmmonowhite{
    text-align: left;
    color:white;
    font-family: ibmmono;
}
.alignjustice{
    text-align: justify;
}

.button{
    font-size:0.8rem;
    font-family: roboto;
    letter-spacing: 0.2rem;
    color:white;
    border:0.5px solid white;
    padding:0.5rem;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 4px 4px white;
}
.button:hover{
    color:Black;
    text-decoration: none;
    background-color: white;
    border:0.5px solid black;
}
